@model FireDepartmentManagerWebApp.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMonday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMonday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTuesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTuesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWednesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWednesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsThursday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsThursday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFriday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFriday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSaturday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSaturday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isSunday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isSunday)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
