@model FireDepartmentManagerWebApp.Models.Vehicle

@{
    ViewData["Title"] = "Edit";
}
<hr />
<h4>Vehicle - Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMonday" /> @Html.DisplayNameFor(model => model.IsMonday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTuesday" /> @Html.DisplayNameFor(model => model.IsTuesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsWednesday" /> @Html.DisplayNameFor(model => model.IsWednesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsThursday" /> @Html.DisplayNameFor(model => model.IsThursday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFriday" /> @Html.DisplayNameFor(model => model.IsFriday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSaturday" /> @Html.DisplayNameFor(model => model.IsSaturday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isSunday" /> @Html.DisplayNameFor(model => model.isSunday)
                </label>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Submit" class="btn btn-warning" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
