@model FireDepartmentManagerWebApp.Models.Incident

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Incident</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncidentStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncidentEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
