@model IEnumerable<FireDepartmentManagerWebApp.Models.Incident>

@{
    ViewData["Title"] = "Incidents";
    int totalIncidents = Model.Count();
    int rowNumber = 1;
}

<hr />
<h4>Incidents - List</h4>
<hr />
<p>
    <div style="margin-bottom: 10px;">
        <a asp-action="Create" class="btn btn-primary">
            Register New Incident <i class="bi bi-pencil-square"></i>
        </a>
    </div>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-success">
                    <th colspan="9" style="text-align: center; vertical-align: middle;">
                        Incidents List : @totalIncidents Total
                    </th>
                </tr>
                <tr class="table-primary">
                    <th style="text-align: center; vertical-align: middle;"><strong>*</strong></th>
                    <th style="text-align: center; vertical-align: middle;">
                @Html.DisplayNameFor(model => model.Address)
            </th>
                    <th style="text-align: center; vertical-align: middle;">
                        @Html.DisplayNameFor(model => model.Type)
            </th>
                    <th style="text-align: center; vertical-align: middle;">
                        @Html.DisplayNameFor(model => model.WaterUsed)
            </th>
                    <th style="text-align: center; vertical-align: middle;">
                        @Html.DisplayNameFor(model => model.IncidentStart)
            </th>
                    <th style="text-align: center; vertical-align: middle;">
                        @Html.DisplayNameFor(model => model.IncidentEnd)
            </th>
                    <th style="text-align: center; vertical-align: middle;">
                        @Html.DisplayNameFor(model => model.Vehicle)
            </th>
                    <th style="text-align: center; vertical-align: middle;">
                        @Html.DisplayNameFor(model => model.Employee)
            </th>
                    <th style="text-align: center; vertical-align: middle;">
                        Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                        <td style="text-align: center; vertical-align: middle; font-size: 17px;"><strong>@rowNumber</strong></td>
                        <td style="text-align: center; vertical-align: middle; font-size: 17px;">
                            @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
                        <td style="text-align: center; vertical-align: middle;">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                <i class="bi bi-trash3"></i>
                            </a>
            </td>
        </tr>
                    rowNumber++;

}
    </tbody>
</table>
