@{
    ViewData["Title"] = "Home Page";
    var employeeRankings = ViewBag.EmployeeRankings;
    var vehicleStats = ViewBag.VehicleStats;
    var vehicleEfficiency = ViewBag.VehicleEfficiency;
    var vehiclesOnDuty = ViewBag.VehiclesOnDuty as List<FireDepartmentManagerWebApp.Models.Vehicle>;
    string currentDayOfWeek = DateTime.Now.ToString("dddd", new System.Globalization.CultureInfo("en-EN"));
    currentDayOfWeek = char.ToUpper(currentDayOfWeek[0]) + currentDayOfWeek.Substring(1);

    string currentDate = DateTime.Now.ToString("dd.MM.yyyy");
    var totalWaterUsed = ViewBag.TotalWaterUsed;
}


<style>
    body, h4, table, th, td {
        margin: 0;
        padding: 0;
    }

    table {
        border-collapse: collapse;
        width: 10%
        margin-bottom: 10px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: middle;
    }

    h4 {
        margin-top: 0;
    }
</style>

<hr />
<h4>Statistics - List</h4>
<body>
    <hr />
    <h4>Vehicles On Duty - @currentDayOfWeek (@currentDate)</h4>
    @if (vehiclesOnDuty != null && vehiclesOnDuty.Any())
    {
        <table border="1">
            <thead>
                <tr>
                    <th>Vehicle Model</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < vehiclesOnDuty.Count; i++)
                {
                    <tr>
                        <td>@vehiclesOnDuty[i].CarModel</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No vehicles available.</p>
    }
</body>

<hr />
<h4>Employee Rankings by Number of Incidents</h4>
<table border="1">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Total Incidents</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in employeeRankings)
        {
            <tr>
                <td>@item.EmployeeFirstName @item.EmployeeLastName</td>
                <td>@item.IncidentCount Incident/s</td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h4>Vehicle Incident Statistics</h4>
<table border="1">
    <thead>
        <tr>
            <th>Vehicle Model</th>
            <th>Average Duration</th>
            <th>Min Duration</th>
            <th>Max Duration</th>
            <th>Total Incidents</th>
            <th>Total Hours</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in vehicleStats)
        {
            <tr>
                <td>@item.VehicleName</td>
                <td>@item.AverageDuration?.ToString("F2") Hour/s"</td>
                <td>@item.MinDuration?.ToString("F2") Hour/s"</td>
                <td>@item.MaxDuration?.ToString("F2") Hour/s"</td>
                <td>@item.IncidentCount Incident/s</td>
                <td>@item.TotalHours?.ToString("F2") Hour/s"</td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h4>Vehicle Efficiency for Fire Extinguishing</h4>
<table border="1">
    <thead>
        <tr>
            <th>Vehicle Model</th>
            <th>Average Used Water</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in vehicleEfficiency)
        {
            <tr>
                <td>@item.VehicleName</td>
                <td>@item.Efficiency?.ToString("F2")L"</td>
            </tr>
        }
    </tbody>
</table>